.features {
  background-color: $bg-light;
  &__box {
    @include arrange-children(space-between);
    padding-bottom: 124px;
  }
  &__card {
    max-width: 350px;
    height: 355px;
    position: relative;
  }
  &__img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  &__desc {
    width: 293px;
    height: 198px;
    border-radius: 8px;
    padding: 33px 32px 25px;
    background-color: $main-light;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
  }
  &__paragraph {
    line-height: 1.5;
    color: $desc-font;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  &__link {
    color: $details2_1;
    font-size: 12px;
    font-weight: 700;
    transition: $transition;
    &:hover {
      color: $details2;
    }
  }
}