/* basic reset */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

a {
  text-decoration: none;
}

form {
  margin: 0;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

ul, ol {
  list-style: none;
}

:focus,
button:active,
button:hover,
a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* mixins */
@mixin arrange-children ($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* main */
html {
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
  background-color: $main-light;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  line-height: 1.2;
}

.container {
  width: 80%;
  max-width: 1110px;
  margin: 0 auto;
}

.btn {
  @include arrange-children(center);
  border-radius: 6px;
  width: 160px;
  height: 50px;
  font-size: 14px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: $transition;
  &--white {
    font-weight: 600;
    color: $details2_1;
    background: $main-light;
    &:hover {
      color: $details2;
    }
  }
  &--red {
    color: $main-light;
    background: $details2_1;
    &:hover {
      background: $details2;
    }
  }
}

.section__title {
  margin: 0 auto;
  padding: 63px 0;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  color: $main-dark;
}

.card {
  text-align: center;
  &__title {
    font-weight: 700;
    font-size: 18px;
    color: $desc-font;
  }
  &__paragraph {
    font-size: 12px;
  }
}