//font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
$main-font: 'Lato', sans-serif;

//colors
$main-light: #fff;
$bg-light: #fafafa;
$main-dark: #000;
$desc-font: #101010;
$details1: #EE3D1B;
$details2: #D52047;
$details2_1: #ED4C5C;
$hero-gradient: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
$transition: 0.4s;
